<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/friedrich-1408x.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Annemarie Friedrich
  </h4>
  <p>Erste Vorsitzende</p>
  <p>Universität Augsburg</p>
  <a href="mailto:vorsitzende@gscl.org">E-Mail</a> <a href="https://annefried.github.io">Webseite</a>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/mieskes.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Margot Mieskes
  </h4>
  <p>Zweite Vorsitzende</p>
  <p>Hochschule Darmstadt</p>
  <a href="mailto:vorsitzende@gscl.org">E-Mail</a> <a href="https://sis.h-da.de/personen/professor-innen-auf-einen-blick/prof-dr-margot-mieskes/">Webseite</a>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
    <div class="board-img">
    <img src="{{ '/assets/img/people/spranger.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Michael Spranger
  </h4>
  <p>Informationsreferent</p>
  <p>Hochschule Mittweida</p>
  <a href="mailto:informationsreferent@gscl.org">E-Mail</a> <a
    href="https://forensik.hs-mittweida.de/about/team/michael-spranger/">Webseite</a>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/faass-1408x.jpg' | relative_url }}">
  </div>
  <h4>
    PhD Gertrud Faaß
  </h4>
  <p>Schatzmeisterin</p>
  <p>Universität Hildesheim</p>
  <a href="mailto:schatzmeister@gscl.org">E-Mail</a> <a
    href="https://www.uni-hildesheim.de/fb3/institute/iwist/mitglieder/faass/">Webseite</a>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
    <div class="board-img">
    <img src="{{ '/assets/img/people/ruppenhofer.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Josef Ruppenhofer
  </h4>
  <p>Schriftführer</p>
  <p>FernUniversität in Hagen</p>
  <a href="mailto:schrift@gscl.org">E-Mail</a> <a
    href="https://www.fernuni-hagen.de/english/research/clusters/catalpa/about-catalpa/members/josef.ruppenhofer.shtml">Webseite</a>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
    <div class="board-img">
    <img src="{{ '/assets/img/people/wartena.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Christian Wartena
  </h4>
  <p>JLCL-Editor</p>
  <p>Hochschule Hannover</p>
  <a href="mailto:jlcl@gscl.org)">E-Mail</a> <a
    href="https://im.f3.hs-hannover.de/en_us/studium/personen/prof-dr-christian-wartena/">Webseite</a>
</div>


<div style="clear:both;"></div>
