<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/zesch.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Torsten Zesch
  </h4>
  <p>FernUniversität in Hagen</p>

</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/schneider.jpg' | relative_url }}">
  </div>
  <h4>
    PD Dr. Roman Schneider (Sprecher)
  </h4>
  <p>Leibniz-Institut für Deutsche Sprache</p>
  
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/benites.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Fernando Benites
  </h4>
  <p>Fachhochschule Nordwestschweiz</p>
  
</div>


<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  
  <div class="board-img">
    <img src="{{ '/assets/img/people/schroeder.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Bernhard Schroeder
  </h4>
  <p>Universität Duisburg-Essen</p>

</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">

  <div class="board-img">
    <img src="{{ '/assets/img/people/zinsmeister.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Heike Zinsmeister
  </h4>
  <p>Universität Hamburg</p>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/erbs-1408x.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Nicolai Erbs
  </h4>
  <p>T-Systems</p>

</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/fisseni-1408x.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Bernhard Fisseni
  </h4>
  <p>Universität Duisburg-Essen</p>
</div>

<div style="clear:both;"></div>
