/* --- Board listing --- */
.board-img {
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
    overflow: hidden;

    @media (min-width: $break) {
        height: 225px;
    }

    //Smaller screen
    @media screen and (max-width: $break) {
        height: 150px;
    }

    img {
        width: 300;
        padding: 0;
        vertical-align: middle;
    }
}
