---
layout: default
---

{% comment %}Multilingual header text (if `multilingual: true` in `_config.yml`){% endcomment %}
{% if site.multilingual %}
    {% assign site_header_title = site.header_title[site.active_lang] %}
    {% assign site_header_text = site.header_text[site.active_lang] %}
{% else %}
    {% assign site_header_title = site.header_title %}
    {% assign site_header_text = site.header_text %}
{% endif %}
    
<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}');min-height: 350px;">
        <h1> {{ site_header_title | default: "Header Title"}} </h1>
    </div>
    
    <div style="float:left; width: 80%; margin-top:40px; text-align: center; margin-left:10%;margin-right:10%">
    <p>{{ site_header_text | default: "Header Text"}} </p>

    <div style="float:left; width: 80%; margin-left: 10%;margin-right: 10%;text-align: left;">
        <p>
            {% if site.active_lang == 'de' %}
            Allgemeine Informationen zu Computerlingusitik und NLP sind auf dem Portal <a href="http://www.computerlinguistik.org">Computerlinguistik.org</a> zu finden.
            {% else %}
            General information about computational linguistics and NLP are available at <a href="http://www.computerlinguistik.org">Computerlinguistik.org</a>.
            {% endif%}
        </p>
    </div>
    <div style="float:left; width: 80%; margin-left: 10%;margin-right: 10%;text-align: left;">
        {% include blog/blog.html %}
    </div>

            
</div>
